<div class="row">
  <div class="col">
    <strong>Identity store entry:</strong> <span class="text-success"><%= vars.mskey %></span> - <%= vars.entrytype %> - <span class="text-info"><%= vars.mskeyvalue %></span> - <%= vars.displayname %>
  </div>
</div>

<%- include('menu/navtab', { menu: vars.menus.entryPlugins }) %>

<% if (vars.renderedPlugin) { %>
  <%- vars.renderedPlugin %>
<% } %>
